


.main-banner {
       padding-top: 100px;
       padding-bottom: 30px;
       .paddsss{
           padding: 8px 0px 28px;
       }
    }
@media (max-width: 600px) {
   
    .main-banner {
        .inner-content{
            h2{
                font-size: 32px!important;
            }
        }
    }
}
