

.dark{
    .profiles-collection{
        height: 326px;
        width: 100%;
        position: relative;
        background-image: url("../../../src/Assets/profile-back.png");
        background-size: cover;
        background-repeat: no-repeat;
    }
    .upper-head-no{
        .upper-head-profile{
            .cococola{
                text-align: center;
                position: relative;
                margin-top: -105px;
                h5{
                    font-family: 'DM Sans';
                    font-style: normal;
                    font-weight: bold;
                    font-size: 32px;
                    line-height: 40px;
                    color: #F4F5F6;
                    padding-top: 20px;
                    padding-bottom: 15px;
                }
                p{
                    font-family: 'DM Sans';
                    font-style: normal;
                    font-weight: bold;
                    font-size: 14px!important;
                    line-height: 16px;
                    color: #FCFCFD;
                    padding-bottom: 25px;
                }
                .bgg{
                    margin-right: 4px;
                    margin-left: 4px;
                    cursor: pointer;
                }
                
            }
        }
        .lower-tabs-main{
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 2px solid #353945;
            padding-bottom: 42px;
            margin-bottom: 32px;
            margin-top: 60px;
            .button-item-activity{
                .buttonss{
                    background: #E6E8EC;
                    border-radius: 100px;
                    font-family: 'DM Sans';
                    font-style: normal;
                    font-weight: bold;
                    font-size: 14px;
                    line-height: 16px;
                    color: #27324F;
                    padding: 6px 12px;
                    border: none;
                    margin-right: 8px;
                    outline: none;
                    cursor: pointer;
                }
                .buttonsss{
                    font-family: 'DM Sans';
                    font-style: normal;
                    font-weight: bold;
                    font-size: 14px;
                    line-height: 16px;
                    color: #777E91;
                    padding: 6px 12px;
                    border: none;
                    cursor: pointer;
                    background: transparent;
                    outline: none;
                }
            }
            .button-file{
                .buttons-li{
                    background: linear-gradient(180deg, #0090B4 0%, #103F91 100%);
                    border-radius: 90px;
                    outline: none;
                    padding: 16px 24px;
                    font-family: 'DM Sans';
                    font-style: normal;
                    font-weight: bold;
                    font-size: 16px;
                    line-height: 16px;
                    color: #FCFCFD;
                    cursor: pointer;
                    border: none;
                    img{
                        padding-left: 15px;
                    }
                }
            }
        }
        .button-list{

            .main-same-buttons{
               
            }
            .main-same-img{
                position: absolute;
                right: 14px;
                top: 62px;
            }
            .buttons-list-all{
                position: relative;
                .dropdown-menu{
                    width: 100%!important;
                    background: #0E1526!important;
                    border-color: #353945!important;
                    box-shadow: 0 4px 12px rgba(20 ,20 ,22 ,10%)!important;
                    border-radius: 12px!important;
                    .dropdown-item{
                        color: #ffffff;
                        font-size: 14px;
                        &:hover{
                            background-color: #27324F;
                            color: #3772FF;
                            font-weight: 500;
                        }
                    }
                }
               h5{
                font-family: 'Poppins';
                font-style: normal;
                font-weight: bold;
                font-size: 12px;
                line-height: 12px;
                color: #B1B5C4;
                padding-top: 32px;
                padding-bottom: 10px;
               }
                .button-listing{
                    background-color: transparent;
                    outline: none;
                    border: 2px solid #353945;
                    box-sizing: border-box;
                    border-radius: 12px;
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px!important;
                    line-height: 24px;
                    color: #FCFCFD;
                    cursor: pointer;
                    width: 100%;
                    height: 48px;
                   p{
                       float: left;
                       padding-left: 10px;
                       font-family: 'Poppins';
                       font-style: normal;
                       font-weight: 500;
                       font-size: 14px!important;
                       line-height: 24px;
                   }
                }
            }
        }
        .buttonsss-list{
            .buttonsss-list-all{
              
                .form-group{
                    .valuess{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        h6{
                            font-family: 'Poppins';
                            font-style: normal;
                            font-weight: 500;
                            font-size: 14px!important;
                            line-height: 24px;
                            color: #FCFCFD;
                            padding-top: 7px;
                        }
                    }
                    label{
                        font-family: 'Poppins';
                        font-style: normal;
                        font-weight: normal;
                        font-size: 12px!important;
                        line-height: 12px;
                        color: #B1B5C3;
                        padding-top: 32px;
                        padding-bottom: 5px;

                    }
                }
            }
        }
        .first-second{
            .item{
                margin-bottom: 50px;
            }
            margin-top: 64px;
            .owl-carousel{
                .owl-item{
                    img{
                        width: unset;
                    }
                }
            }
            .card-width{
                cursor: pointer;
                      
                &:hover{
                    .upper-divs-triple{
                        border-radius: 16px 16px 16px 16px;
                        img{
                            transform: scale(1.2);
                            
                        }
                    }
                }
                .upper-divs-triple{
                    position: relative;
                    overflow: hidden;
                    transition: .5s all ease-in-out;
                    border-radius: 16px 16px 16px 16px;
                    .overlayy{
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%,-50%);
                        border-radius: 10px;
                        transition: all 1s ease-in-out;
                        .img-sss1{
                            display: none;
                            transition: .5s all ease-in-out;
                            width: unset;
                        }
                        .img-sss2{
                            display: none;
                            transition: .5s all ease-in-out;
                            width: unset;
                        }
                        .img-sss3{
                            display: none;
                            transition: .5s all ease-in-out;
                            width: unset;
                        }
                    }
                    &:hover{
                        .overlayy{
                            transform: translate(-50%,-50%);
                            background:rgba(20, 20, 22, 0.3);
                            border-radius: 10px;
                        }
                        .img-sss1{
                            display: block;
                            position: absolute;
                            top: 5%;
                            right: 4%;
                            transform: unset;
                        }
                        .img-sss2{
                            display: block;
                            position: absolute;
                            top: -39%;
                            left: 16px;
                            width: 103px;
                            height: 100%;
                            transform: unset;
                        }
                        .img-sss3{
                            display: block;
                            position: absolute;
                            width: 134px;
                            height: 40px;
                            left: 50%;
                            bottom: 16px;
                            transform: translateX(-50%);
                        }
                    }
                    img{
                        transition: .8s all ease-in-out;
                    }
                }
                .lower-textss{
                    .main-button-fire{
                        display: flex;
                        padding-top: 12px;
                        justify-content: space-between;
                        align-items: center;
                        li{
                            h4{
                                font-family: 'Poppins';
                                font-style: normal;
                                font-weight: normal;
                                font-size: 12px;
                                line-height: 20px; 
                                color: #777E90;
                            }
                            h3{
                                font-family: 'Poppins';
                                font-style: normal;
                                font-weight: normal;
                                font-size: 12px!important;
                                line-height: 20px;
                                color: #777E90;
                                span{
                                    color: #FCFCFD;
                                    font-weight: 600;
                                    padding-left: 4px;
                                }
                            }
                        }
                    }
                    .main-button-ul{
                        padding-top: 20px;
                        justify-content: space-between;
                        align-items: center;
                        li{
                            h3{
                                font-family: 'Poppins';
                                font-style: normal;
                                font-weight: 500;
                                font-size: 16px;
                                line-height: 24px;
                                color: #FCFCFD!important;
                            }
                            .buttons{
                                background-color: transparent;
                                border: 2px solid #45B36B;
                                box-sizing: border-box;
                                border-radius: 4px;
                                font-family: 'Poppins';
                                font-style: normal;
                                font-weight: bold;
                                font-size: 12px;
                                line-height: 12px;
                                color: #45B36B;
                                padding: 8px;
                            }
                        }
                    }
                    .main-buttons-span{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        border-bottom: 2px solid #353945;
                        padding-bottom: 20px;
                        padding-top: 13px;
                        li{
                            h3{
                                font-family: 'Poppins';
                                font-style: normal;
                                font-weight: 500;
                                font-size: 14px!important;
                                line-height: 24px;
                                color: #E6E8EC;
                            }
                        }
                        .images{
                            display: flex;
                            justify-content: start;
                            align-items: center;
                            .max-width-seller-two{
                                margin: -7px;
                            }
                        }
                    }
                }
                border: none;
                .upper-divs-triple{
                    img{
                        width: 100%;
                        border-radius: 16px 16px 0px 0px;
                    }
                }
                img{ 
                }
                border-radius: 16px 16px 16px 16px;
                background-color: #0E1526;
            }
        }
    }
}
@media (max-width: 1199px) {
    .dark{
        .right-profile-slider{
            padding-left: 4px;
        }
    } 
    .folowers{
        .followers__user{
            .followers__details{
                width: 142px;
            }
        }
        .followers__wrap{
            overflow-x: auto;
            &::-webkit-scrollbar {
                display: none;
            }
        }
    }
}
@media (max-width: 991px) {
    .dark{
        .Profile-main-section{
            .main-profile-pad{
                padding: 0px;
            }
        }
        .right-profile-slider{
            padding-left: 0px;
        }
        .Profile-main-section{
            .main-paddss{
                padding: 0px;
            }
        }
        .profiles-back{
            .action-button{
                bottom: 70px;
            }
        }
        .side-profilessss{
            margin-top: -33px;
        }
    }
}
@media (max-width: 600px) {
    .dark{
        .folowers{
            .followers__item{
                position: relative;
                .followers__user{
                    justify-content: start;
                    align-items: center;
                    .followers__avatar{
                        width: 72px!important;
                        height: 72px!important;
                    }
                }
                .follow-but{
                    position: absolute;
                    right: 0;
                    top: 34%;
                    transform: translateY(-50%);
                }
            }
            .followers__wrap{
                display: none;
            }
        }
        .Profile-main-section{
            .main-paddss{
                padding: 0px;
            }
            .right-profile-slider{
                .nav{
                    display: flex;
                    overflow-y: scroll;
                    flex-wrap: nowrap;
                    white-space: nowrap;
                    &::-webkit-scrollbar{
                        display: none;
                    }
                }
            }
        }
        .profiles-back{
            .action-button{
                bottom: 70px;
                right: 11.5%;
                
            }
        }
    }
}

@media (max-width: 400px) {
    .dark{
        .profiles-back{
            .action-button{
                .act-but{
                    margin-left: 7px;
                }
                right: 7.5%;
            }
        }
    }
}

@media (max-width: 360px) {
    .dark{
        .profiles-back{
            .action-button{
                right: 0;
                left: 0;
                .act-but{
                    margin: 0 30px;
                    width: 80%;
                    margin-bottom: 20px;
                }
            }
        }
    }
}