.creates {
    .main-privew-div{
        background: #F9F9FA;
        border: 2px dashed #CFCFD0;
        box-sizing: border-box;
        border-radius: 20px;
        margin-bottom: 10px;
        height: 340px;
        padding: 20px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            object-fit: cover;
            box-shadow: rgba(100, 100, 111, 0.1) 0px 7px 29px 0px;
        }
        h6{
            font-size: 18px;
            font-family:'poppins';
            font-weight: 400;
            color: #8CA0B9 ;
            text-align: center;
        }
    }
    .inner-tile {
        width: 232px;
        width: 100%;
        height: 232px;
        background: #EFEFF9;
        border-radius: 15px;
        text-align: center;
        padding: 90px 35px 0;
    }
.inner-content {
        background: #F9F9FA;
        border: 2px dashed #CFCFD0;
        box-sizing: border-box;
        border-radius: 20px;
        position: relative;

        .close-iconsss {
            position: absolute;
    top: -18px;
    right: 6px;
    background: transparent;
    border: none;

    i {
        font-size: 30px;
    color: orange;
    }
        }

img.img-show {
    width: auto;
    height: 350px;
}
.pt160 {
    padding-top: 50px;
    padding-bottom: 50px;
}

input[type="file"] {
    display: none;
}

.btn-common-2 {
    width: 174px;
}


    }

    .inner-card {
        .mb10 {
            width: 100%;
        }
    }

    .inner-inpt {
        input {
            background: #FFFFFF;
// border: 1px solid #D1CCE0;
box-sizing: border-box;
border-radius: 10px;
height: 54px;
        }
        .inner-logo-b {
            position: relative;
    
            img {
                position: absolute;
                right: 11px;
    top: 41px;
            }
        }

        .switch {

            .yoyo {
                position: relative;
    top: -19px;
            }
            .switch {
                position: relative;
                display: inline-block;
                width: 60px;
                height: 34px;
                left: 15px;
              }
              
              .switch input { 
                opacity: 0;
                width: 0;
                height: 0;
              }
              
              .slider {
                position: absolute;
                cursor: pointer;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: #CFCFD0;
                -webkit-transition: .4s;
                transition: .4s;
              }
              
              .slider:before {
                position: absolute;
                content: "";
                height: 26px;
                width: 26px;
                left: 4px;
                bottom: 4px;
                background-color: white;
                -webkit-transition: .4s;
                transition: .4s;
              }
              
              input:checked + .slider {
                background: #f2b10f
                ;
              }
              
              input:focus + .slider {
                box-shadow: 0 0 1px #f2b10f ;
              }
              
              input:checked + .slider:before {
                -webkit-transform: translateX(26px);
                -ms-transform: translateX(26px);
                transform: translateX(26px);
              }
              
              /* Rounded sliders */
              .slider.round {
                border-radius: 34px;
              }
              
              .slider.round:before {
                border-radius: 50%;
              }
        }
    }
    .form-control {
        background: #FFFFFF;
border: 1px solid #D1CCE0;
box-sizing: border-box;
border-radius: 10px;
    }

    textarea {
        resize: none;
        height: 246px;
    }

    .inner-card {
        border: 1px solid #e1e1e2;
        border-radius: 18px;
        padding: 10px 10px 10px 13px;
        margin-bottom: 10px;
      .mb10{
          width: 100%;
          margin-bottom: 10px;
      }
    }

    .PrivateNotchedOutline-root-1 {
    border: none;
    border-radius: 12px;
    }

    button#dropdownMenuButton {
        background: #FFFFFF;
    border: 1px solid #D1CCE0;
    box-sizing: border-box;
    border-radius: 10px;
    height: 54px;
    width: 100%;
    text-align: left;
    }
   .button-discover-add{
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #D1CCE0;
    border-radius: 10px;
    height: 54px;
    text-align: left;
    padding: 0 10px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
       
   }

    .dropdown-toggle::after {
        display: inline-block;
        margin-left: .255em;
        vertical-align: .255em;
        content: "";
        border-top: .3em solid;
        border-right: .3em solid transparent;
        border-bottom: 0;
        border-left: .3em solid transparent;
        float: right;
        position: relative;
        top: 11px;
    }
}

@media only screen and (max-width: 600px) {
    .main-banner {
        .btn-common {
            font-size: 14px !important;
        }
    }

    
    .create {
        .inner-content {
            background: #F9F9FA;
            border: 2px dashed #CFCFD0;
            box-sizing: border-box;
            border-radius: 20px;
                img {
                    margin: 0px;
                }
                .inner-card{
                    text-align: center;
                .mb10{
                    margin-bottom: 10px;
                }
            }
        }
    }
}

.MuiOutlinedInput-root{
    border-radius: 10px!important;
    border: 1px solid rgb(214, 211, 211);
}

.main-price-drop{
    position: relative;
}
.sdsdsd{
    position: absolute;
    background-color: transparent;
    border: none;
    right: 14px;
    top: 45px;
   
    background-color: #ffffff;
  .dropdown-menu{
      left: -61px!important;
      text-align: center;
  }
  .button-discov{
      background-color: transparent;
      border: none;
      color: rgb(151, 149, 149);
    //   position: relative;
    // z-index: -11;
  }
}

.widdd{
    width: 24px;
    height: 24px;
    position: unset!important;
}

.percentage-images{
    position: relative;
}

.mamam{
    position: absolute;
    right: 18px;
    top: 48px;
    background-color: #ffffff;
    color: rgb(151, 149, 149);
}

.img-uploader-mm{
    object-fit: cover;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.bg-white {
    background-color: #fff;
}
.main-creatre-decent{
    .dropdown-menu{
        width: 100%;
    }
}

.main-image-new-close{
    position: relative;
    // width: 400px;
    // height: 400px;
    margin: 0 auto;
    .icons-image-close{
        position: absolute;
        top: 0px;
        right: 0px;
        i{
            font-size: 38px;
            color: #f2b10f;
        }
    }
}

.icons-image-close{
   
}