.main-footer {
    .inner-logo{
        h3{
            font-family: 'Poppins';
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 32px;
            color: #E6E8EC;
        }
    }
    background-color: #0E1526;

   
        .inner-icon {
            li{
                margin-top: 10px;
                a{
                    font-family: 'DM Sans';
                    font-style: normal;
                    font-weight: bold;
                    font-size: 14px!important;
                    line-height: 16px;
                    color: #777E91;
                    
                }
            }
            h5{
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                padding-bottom: 20px;
                line-height: 24px;
                color: #FCFCFD;
            }
            p{
                font-family: 'Poppins';
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 24px;
                color: #E6E8EC;
                padding-top: 10px;
                padding-bottom: 24px;
            }
            input {
                border: 2px solid #353945;
    box-sizing: border-box;
    border-radius: 90px;
    background: transparent;
            }

            .input-group>.custom-select:not(:last-child), .input-group>.form-control:not(:last-child) {
                border-top-right-radius: 90px;
                border-bottom-right-radius: 90px;
            }

            .input-group-append {
                position: absolute;
    right: 4px;
    top: 4px;
            }
        }
}