.main-footer {
    // background-image: url(../../assets/pegify/landing-assets/background.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 0px;
    background-color: #fff;

    ul {
        margin: 0;
        padding: 0px;

        li {
            padding: 6px 0;

            a {
                cursor: pointer;
                &:hover {
                    color: #f2b10f;
                }
            }
        } 
    }
}

@media only screen and (max-width: 600px) {
    .main-footer{
        margin-top: 0px;
        .text-right {
            text-align: left !important;
        }
        .inner-content {
            padding: 10px 0;
        
        }
    }
}