.main-footer {
    // background-image: url(../../assets/pegify/landing-assets/background.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 0px;
    background-color: #fff;
.inner-content{
    h5{
        font-family: 'poppins'!important;
        font-style: normal!important;
        font-weight: 600!important;
        font-size: 16px!important;
        line-height: 19px!important;
        color: #171B1E!important;
    }
}
    ul {
        margin: 0;
        padding: 0px;

        li {
            padding: 6px 0;

            a {
                font-family: 'poppins'!important;
                font-style: normal!important;
                font-weight: 500!important;
                font-size: 14px!important;
                line-height: 17px!important;
                color: #9DAEC2!important;
                cursor: pointer!important;
                &:hover {
                    color: #f2b10f;
                }
            }
        } 
    }
}

@media only screen and (max-width: 600px) {
    .main-footer{
        margin-top: 0px;
        .text-right {
            text-align: left !important;
        }
        .inner-content {
            padding: 10px 0;
        
        }
    }
}