.main-banner {
    background-image: url(../../assets/pegify/landing-assets/header-background.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    .inner-content {
        .btn-newscoll{
            font-family: 'Inter';
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;
            background: #F2B10F;
            box-shadow: 0px 10px 14px rgba(242, 177, 15, 0.3);
            border-radius: 35px;
            outline: none;
            border: none;
            padding: 16px 20px;
            color: #ffffff;
        }
        h2{
            font-family: 'Inter';
            font-style: normal;
            font-weight: 600;
            font-size: 36px;
            line-height: 44px;
            color: #F2B10F!important;
            margin-bottom: 0px;
           
        }
        h1{
            font-family: 'Inter';
            font-style: normal;
            font-weight: 600;
            font-size: 46px;
            line-height: 56px;
            color: #191A1C;
            margin-bottom: 0px;
            padding-bottom: 22px;
        }
        p{
            font-family: 'Inter';
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;
            color: #575E66;
            padding-bottom: 40px;
        }
    }
}

.for-style11 {
    background-color: transparent;
    border: none;
}

.explore-land{
    .inner-tabs {
        .nav-pills {
            border-bottom: none!important;
        }
    }
}

.explore-land .inner-tabs .nav-pills .nav-item .btn-common-2{
    border: 1px solid #D1CCE0;


}
.explore-land .inner-tabs .nav-pills .nav-item .active{
    padding-bottom: 10px!important;
    border: 1px solid #f2b10f !important;
    color: white!important;
} 
.explore-land .inner-tabs .nav-pills .nav-item a:hover{
    padding-bottom: 10px!important;
} 
.explore {
    a{
        text-decoration: none!important;
    }
    .btn-common-2 {
        padding: 10px 14px;
        margin: 0px!important;
    }

    .inner-card {
        box-shadow: 0px 4px 10px rgba(134, 103, 222, 0.3);
        border-radius: 18px;
        padding: 10px 10px 10px 10px;
        margin-bottom: 24px;
        width: auto;
        // height: 416px;
        .inner-tile {
            position: relative;
            z-index: 9999;
            .inner-tiless{
                width: 50px!important;
            height: 50px !important;
            border-radius: 50%!important;
            }
            .for-check {
                position: absolute;
                top: 31px;
                right: 7px;
            }
        }
        .inner-tile2 {
            position: relative;
            right: 20px;
            .inner-tiless{
                width: 50px!important;
            height: 50px !important;
            border-radius: 50%!important;
            }
            .for-check {
                position: absolute;
                top: 31px;
                right: 3px;
            }
        }
        
        .mb10 {
            width: 100%;
        }

        &:hover {
            box-sizing: border-box;
            // box-shadow: 0px 4px 10px rgba(134, 103, 222, 0.3);
            border-radius: 20px;
        }
      .mb10{
          margin: 10px 0;
      }
    }
}

.getnft{
    background-image: url(../../assets/pegify/landing-assets/background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.featured {
    background-image: url(../../assets/pegify/landing-assets/background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .inner-content{
        h3{
            font-family: 'Inter';
            font-style: normal;
            font-weight: 600;
            font-size: 26px!important;
            line-height: 31px!important;
            color: #F2B10F;
            margin-bottom: 0px!important;
            padding-bottom: 4px;
            padding-top: 60px;
        }
        h2{
            font-family: 'Inter';
            font-style: normal;
            font-weight: 600;
            font-size: 46px!important;
            line-height: 56px!important;
            color: #191A1C;
            margin-bottom: 0px!important;
            padding-bottom: 30px;
        }
        p{
            font-family: 'Inter';
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;
            color: #575E66;
            margin-bottom: 0px!important;
            padding-bottom: 18px!important;
        }
        .button-new-artust{
            font-family: 'Inter';
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;
            background: #F2B10F;
            box-shadow: 0px 10px 14px rgba(242, 177, 15, 0.3);
            border-radius: 35px;
            outline: none;
            border: none;
            margin-top: 30px;
            padding: 16px 20px;
            color: #ffffff;
        }
    }
}

.mobile {
    // img {
    //     width: 700px;
    // }
}

.pink {
    background-image: url(../../assets/pegify/landing-assets/stats-background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 

    .inner-content {
        h2{
            font-family: 'Inter';
            font-style: normal;
            font-weight: 600;
            font-size: 36px;
            line-height: 44px;
            color: #F2B10F!important;
        }
        h1{
            font-family: 'Inter';
            font-style: normal;
            font-weight: 600;
            font-size: 46px;
            line-height: 56px;
            color: #191A1C;

        }
        p{
            font-family: 'Inter';
            font-style: normal;
            font-weight: 300;
            font-size: 18px;
            line-height: 22px;
            color: #575E66;
        }
            padding: 10px;

        .form-group {
            input {
            height: 54px;
            left: 0px;
            top: 0px;
            padding-left: 20px;
            background: #FFFFFF;
            border: 1.5px solid #E1E1E1;
            box-sizing: border-box;
            border-radius: 40px;
                &::placeholder{
                    color: #E1E1E1;
                }
            }
        }
        .btn-common {
            // padding: 16px 20px;
            // width: 247px;
            // height: 54px;
            // background: #8667DE;
            // box-shadow: 0px 10px 14px rgb(134 103 222 / 30%);
            // border-radius: 35px;
        }
        img {
            margin-bottom: 20px;
        }
    }
}

.latest {
    .inner-card {
        box-shadow: 0px 4px 10px rgba(134, 103, 222, 0.3);
        border-radius: 18px;
        padding: 10px 10px 10px 10px;
        margin-bottom: 24px;
        width: auto;
        background: #ffffff;
        // height: 416px;
        .inner-tile {
            position: relative;
            z-index: 99;
            .inner-tiless{
                width: 50px!important;
            height: 50px !important;
            border-radius: 50%!important;
            }
            .for-check {
                position: absolute;
                top: 31px;
                right: 7px;
            }
        }
        .inner-tile2 {
            position: relative;
            right: 20px;
            .inner-tiless{
                width: 50px!important;
            height: 50px !important;
            border-radius: 50%!important;
            }
            .for-check {
                position: absolute;
                top: 31px;
                right: 3px;
            }
        }
        
        .mb10 {
            width: 100%;
        }

        &:hover {
            box-sizing: border-box;
            box-shadow: 0px 4px 10px rgba(134, 103, 222, 0.3);
            border-radius: 20px;
        }
      .mb10{
          margin-bottom: 10px;
          margin-top: 10px;
      }
    }
}

.services {
    .main-head{
        h2{
            font-family: 'Inter';
            font-style: normal;
            font-weight: 600;
            font-size: 36px!important;
            line-height: 27px!important;
            padding-bottom: 30px;
        }
    }
    .inner-side {
        background: #FFFFFF;
        box-shadow: 0px 14px 34px rgb(0 0 0 / 2%);
        border-radius: 20px;
        padding: 20px 30px;
        margin-bottom: 10px;
        img {
            padding: 0 0 30px;
        }
    }
}

@media only screen and (max-width: 600px) {
    .main-banner {
        .btn-common {
            font-size: 14px !important;
        }
    }


    .explore,.latest {

        .inner-tabs {
            li {
                .btn-common-2 {
                    margin-bottom: 0px;
                    display: inline-block;
    font-size: 14px;                    
                }
            }
        }
        .inner-card {
            // text-align: center;
          .mb10{
              margin-bottom: 10px;
          }
        }
    }
}


// .set_width_height{
//     width:100px !important;
//     height: 100px !important;
// }

.image-width{
    .set_width_height{
        height: 200px!important;
        width: 100%!important;
        border-radius: 8px;
        object-fit: cover;
    }
}


.box-hover-vv{
    position: relative;
}
.box-hover-vv{
    position: relative;
    width: 100%;
    height: 300px;
  }
  .box-contents {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 25px;
    box-shadow: 0 0 50px rgba(0, 0, 0, .08);
    transition: .5s ease;
  }
  .hover-point {
    position: absolute;
    z-index: 2;
    width: calc(100% / 3);
    height: calc(100% / 3);
  }
  .hover-point:nth-child(1) {
    top: 0;
    left: 0;
  }
  .hover-point:nth-child(2) {
    top: 0;
    left: calc(100% / 3);
  }
  .hover-point:nth-child(3) {
    top: 0;
    right: 0;
  }
  .hover-point:nth-child(4) {
    top: calc(100% / 3);
    left: 0;
  }
  .hover-point:nth-child(5) {
    top: calc(100% / 3);
    right: 0;
  }
  .hover-point:nth-child(6) {
    bottom: 0;
    left: 0;
  }
  .hover-point:nth-child(7) {
    bottom: 0;
    left: calc(100% / 3);
  }
  .hover-point:nth-child(8) {
    bottom: 0;
    right: 0;
  }
  .hover-point:nth-child(1):hover ~ .box-contents {
    box-shadow: 15px 15px 50px rgba(0, 0, 0, .3);
    transform-origin: right top;
    transform: perspective(1000px) rotateX(10deg) rotateY(-10deg) rotateZ(2deg);
  }
  .hover-point:nth-child(2):hover ~ .box-contents {
    box-shadow: 0 15px 50px rgba(0, 0, 0, .3);
    transform-origin: center top;
    transform: perspective(1000px) rotateX(10deg);
  }
  .hover-point:nth-child(3):hover ~ .box-contents {
    box-shadow: -15px 15px 50px rgba(0, 0, 0, .3);
    transform-origin: left top;
    transform: perspective(1000px) rotateX(10deg) rotateY(10deg) rotateZ(-2deg);
  }
  .hover-point:nth-child(4):hover ~ .box-contents {
    box-shadow: 15px 5px 50px rgba(0, 0, 0, .3);
    transform-origin: left center;
    transform: perspective(1000px) rotateY(-10deg);
  }
  .hover-point:nth-child(5):hover ~ .box-contents {
    box-shadow: -15px 5px 50px rgba(0, 0, 0, .3);
    transform-origin: right center;
    transform: perspective(1000px) rotateY(10deg);
  }
  .hover-point:nth-child(6):hover ~ .box-contents {
    box-shadow: 15px -15px 50px rgba(0, 0, 0, .3);
    transform-origin: right bottom;
    transform: perspective(1000px) rotateX(-10deg) rotateY(-10deg) rotateZ(-2deg);
  }
  .hover-point:nth-child(7):hover ~ .box-contents {
    box-shadow: 0 -15px 50px rgba(0, 0, 0, .3);
    transform-origin: center bottom;
    transform: perspective(1000px) rotateX(-10deg);
  }
  .hover-point:nth-child(8):hover ~ .box-contents {
    box-shadow: -15px -15px 50px rgba(0, 0, 0, .3);
    transform-origin: left bottom;
    transform: perspective(1000px) rotateX(-10deg) rotateY(10deg) rotateZ(2deg);
  }
  