.main-banner {
    background-image: url(../../assets/pegify/landing-assets/header-background.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.explore-land{
    .inner-tabs {
        .nav-pills {
            border-bottom: none!important;
        }
    }
}

.explore-land .inner-tabs .nav-pills .nav-item .btn-common-2{
    border: 1px solid #D1CCE0;


}
.explore-land .inner-tabs .nav-pills .nav-item .active{
    padding-bottom: 10px!important;
    border: 1px solid #f2b10f !important;
    color: white!important;
} 
.explore-land .inner-tabs .nav-pills .nav-item a:hover{
    padding-bottom: 10px!important;
} 
.explore {
    a{
        text-decoration: none!important;
    }
    .btn-common-2 {
        padding: 10px 14px;
        margin: 0px!important;
    }

    .inner-card {
        box-shadow: 0px 4px 10px rgba(134, 103, 222, 0.3);
        border-radius: 18px;
        padding: 10px 10px 10px 10px;
        margin-bottom: 24px;
        width: auto;
        // height: 416px;
        .inner-tile {
            position: relative;
            z-index: 9999;
            .inner-tiless{
                width: 50px!important;
            height: 50px !important;
            border-radius: 50%!important;
            }
            .for-check {
                position: absolute;
                top: 31px;
                right: 7px;
            }
        }
        .inner-tile2 {
            position: relative;
            right: 20px;
            .inner-tiless{
                width: 50px!important;
            height: 50px !important;
            border-radius: 50%!important;
            }
            .for-check {
                position: absolute;
                top: 31px;
                right: 3px;
            }
        }
        
        .mb10 {
            width: 100%;
        }

        &:hover {
            box-sizing: border-box;
            // box-shadow: 0px 4px 10px rgba(134, 103, 222, 0.3);
            border-radius: 20px;
        }
      .mb10{
          margin: 10px 0;
      }
    }
}

.getnft{
    background-image: url(../../assets/pegify/landing-assets/background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.featured {
    background-image: url(../../assets/pegify/landing-assets/background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.mobile {
    // img {
    //     width: 700px;
    // }
}

.pink {
    background-image: url(../../assets/pegify/landing-assets/stats-background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 

    .inner-content {
        padding: 10px;

        .form-group {
            input {
height: 54px;
left: 0px;
top: 0px;

background: #FFFFFF;
border: 1.5px solid #E1E1E1;
box-sizing: border-box;
border-radius: 40px;
            }
        }
        .btn-common {
            // padding: 16px 20px;
            // width: 247px;
            // height: 54px;
            // background: #8667DE;
            // box-shadow: 0px 10px 14px rgb(134 103 222 / 30%);
            // border-radius: 35px;
        }
        img {
            margin-bottom: 20px;
        }
    }
}

.latest {
    .inner-card {
        box-shadow: 0px 4px 10px rgba(134, 103, 222, 0.3);
        border-radius: 18px;
        padding: 10px 10px 10px 10px;
        margin-bottom: 24px;
        width: auto;
        background: #ffffff;
        // height: 416px;
        .inner-tile {
            position: relative;
            z-index: 99;
            .inner-tiless{
                width: 50px!important;
            height: 50px !important;
            border-radius: 50%!important;
            }
            .for-check {
                position: absolute;
                top: 31px;
                right: 7px;
            }
        }
        .inner-tile2 {
            position: relative;
            right: 20px;
            .inner-tiless{
                width: 50px!important;
            height: 50px !important;
            border-radius: 50%!important;
            }
            .for-check {
                position: absolute;
                top: 31px;
                right: 3px;
            }
        }
        
        .mb10 {
            width: 100%;
        }

        &:hover {
            box-sizing: border-box;
            box-shadow: 0px 4px 10px rgba(134, 103, 222, 0.3);
            border-radius: 20px;
        }
      .mb10{
          margin-bottom: 10px;
          margin-top: 10px;
      }
    }
}

.services {
    .inner-side {
        background: #FFFFFF;
        box-shadow: 0px 14px 34px rgb(0 0 0 / 2%);
        border-radius: 20px;
        padding: 20px 30px;
        margin-bottom: 10px;
        img {
            padding: 0 0 30px;
        }
    }
}

@media only screen and (max-width: 600px) {
    .main-banner {
        .btn-common {
            font-size: 14px !important;
        }
    }


    .explore,.latest {

        .inner-tabs {
            li {
                .btn-common-2 {
                    margin-bottom: 0px;
                    display: inline-block;
    font-size: 14px;                    
                }
            }
        }
        .inner-card {
            // text-align: center;
          .mb10{
              margin-bottom: 10px;
          }
        }
    }
}


// .set_width_height{
//     width:100px !important;
//     height: 100px !important;
// }

.image-width{
    .set_width_height{
        height: 150px!important;
        width: 100%!important;
        border-radius: 8px;
    }
}