/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;500;700;800&display=swap');

body {
  // font-size: 1.4rem;
  font-family: 'Inter', sans-serif !important;
  background-color: #fafafa;
  
}

.ngx-slider .ngx-slider-selection {
  z-index: 2;
  background: black;
  border-radius: 2px;
}

.row {
  margin: 0;
  padding: 0;
}

.p-0 {
  padding: 0px;
}

// All transitions
div,ul,a,p,h1,h2,h3,h4,h5,h6,span {
  -webkit-transition: background-color 1s ease-out;
  -moz-transition: background-color 1s ease-out;
  -o-transition: background-color 1s ease-out;
  transition: background-color 1s ease-out;
}

textarea {
    resize: none;
    height: 60px;
    width: 100%;
}

a {
  text-decoration: none !important;
  color: #000 !important;

  &:hover {
    color: #191A1C !important;
  }

}


ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

p,h1,h2,h3,h4,h5,h6 {
  margin: 0 0;
  margin-bottom: .5rem!important;
}

h1 {
  font-size: 46px !important;
  font-style: normal !important;
  font-weight: bold !important;
  line-height: 56px;

}

.grey{
    color:  #8CA0B9 !important;
    // font-weight: 700;
}
.grey-1{
  color: #817C8F;
  font-weight: 700;
  size: 18px;
  font-style: normal;
}

.ptb20{
    padding: 20px 0;
}

h2 {
  font-size: 36px !important;
  font-style: normal !important;
font-weight: bold !important;
}

p {
    font-size: 16px !important;
}

h4 {
  font-style: normal;
  // font-weight: bold !important;
  font-size: 22px !important;
  line-height: 27px !important;
}

.img-responsive {
    display: inline-block;
}

.btn-common1{
opacity: .4;
background-color: #f2b10f;
color: #fff;
padding: 16px 20px;
border-radius: 35px;
text-decoration: none;
margin-right: 10px;
pointer-events: none;
text-transform: uppercase;
font-size: 16px;
font-weight: 500;
line-height: 19px;
width: 100%;
box-shadow: 0px 10px 14px rgba(242, 177, 15, 0.3);
border: 1px solid #f2b10f;
cursor: pointer !important;
img {
    width: 28px;
    margin-left: 10px;
}

&:hover {
 // border: 1px solid #f2b10f;
 color: #fff;
 box-shadow: 0px 10px 14px rgba(242, 177, 15, 0.3);
 background-color: #f2b10f;
}
&:active {
 color: #fff !important;
 background-color: #f2b10f;
//   box-shadow: 0px 0px 10px 2px #888;
}
&:focus {
 outline: none;
}
}
.btn-common {
   background-color: #f2b10f;
   color: #fff;
   padding: 16px 20px;
   border-radius: 35px;
   text-decoration: none;
   margin-right: 10px;
   text-transform: uppercase;
   font-size: 16px;
   font-weight: 500;
   line-height: 19px;
   width: 100%;
   box-shadow: 0px 10px 14px rgba(242, 177, 15, 0.3);
   border: 1px solid #f2b10f;
   cursor: pointer !important;
   img {
       width: 28px;
       margin-left: 10px;
   }
   
   &:hover {
    // border: 1px solid #f2b10f;
    color: #fff;
    box-shadow: 0px 10px 14px rgba(242, 177, 15, 0.3);
    background-color: #f2b10f;
  }
  &:active {
    color: #fff !important;
    background-color: #f2b10f;
  //   box-shadow: 0px 0px 10px 2px #888;
  }
  &:focus {
    outline: none;
  }
}

.for-fullw {
 width: 100%;
}

.btn-common-2 {
padding: 16px 20px;
left: 70px;
top: 0px;
text-transform: uppercase;
// padding: 10px 14px;

background: #FFFFFF;
border: 1px solid #D1CCE0;
box-sizing: border-box;
border-radius: 35px;
font-weight: 700;
font-size: 16px;
line-height: 19px;

color: #191A1C;

/* Inside Auto Layout */

flex: none;
order: 1;
flex-grow: 0;
margin: 10px 8px;


&:hover {
 border: 1px solid #f2b10f;
//  color: #fff;
//  box-shadow: 0px 10px 14px rgba(134, 103, 222, 0.3);
//  background-color: #583FA1;
}
&:active {
 color: #fff !important;
 background-color: #f2b10f;
//   box-shadow: 0px 0px 10px 2px #888;
}
&:focus {
 outline: none;
}

}

.btn-common.active {
  color: #fff;
  // box-shadow: 0px 0px 10px 2px #f2b10f;
  background-color: #f2b10f;
}

.btn-common-2.active {
color: #fff;
background-color: #f2b10f;
}

.ptb {
  padding: 60px 0;
}

.border1 {
width: 136px;
height: 27px;
left: 0px;
top: 0px;
margin: 15px 0;

background: #EFEFF9;
border-radius: 30px;
}
.border2 {
width: 126px;
height: 27px;
left: 0px;
top: 0px;
margin: 15px 0;

background: #EFEFF9;
border-radius: 30px;
}

.clr {
color: #f2b10f;
font-weight: 600;
font-style: normal;
size: 16px;
}

.black {
  color: #000;
}

.navbar-toggle {
background-color: #333;

.icon-bar {
  background-color: #eee;
}
}


@media only screen and (max-width: 600px) {
.nav-brand {
  margin-left: 15px;
}


h1 {
  font-size: 3.5rem !important;
}

h2 {
  font-size: 2.5rem !important;
  font-weight: bold;
}

.ptb {
  padding: 20px 0;
}
}
// 12 pro
@media only screen 
  and (device-width: 390px) 
  and (device-height: 844px) 
  and (-webkit-device-pixel-ratio: 3) {
    .nav-brand {
      margin-left: 15px;
    }
    
   
    h1 {
      font-size: 3.5rem !important;
    }
  
    h2 {
      font-size: 2.5rem !important;
      font-weight: bold;
    }
  
    .ptb {
      padding: 20px 0;
  }
  }
// 12 pro max 
  @media only screen 
  and (device-width: 428px) 
  and (device-height: 926px) 
  and (-webkit-device-pixel-ratio: 3) {
    .nav-brand {
      margin-left: 15px;
    }
    
   
    h1 {
      font-size: 3.5rem !important;
    }
  
    h2 {
      font-size: 2.5rem !important;
      font-weight: bold;
    }
  
    .ptb {
      padding: 20px 0;
  }
  }
/* Importing Bootstrap SCSS file. */
// @import '~bootstrap/scss/bootstrap';
//inputs errors
.inputErrors{
  color: 	#FF6666 !important;
  padding: 2px;
  font-size: 18px;
  // padding-left: 32px;
 }